################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UnitTestGenerator/.vs/UnitTestGenerator
/UnitTestGenerator/obj
/UnitTestGenerator/REF/.vs/SwissRe.Enterprise.Apps.CodeGenerators
/UnitTestGenerator/REF/NSpecTestsForConstructors/bin/Debug
/UnitTestGenerator/REF/NSpecTestsForConstructors/obj/Debug
/UnitTestGenerator/.vs/ProjectEvaluation
/UnitTestGenerator/src/Logic/bin/Debug/net6.0
/UnitTestGenerator/src/Logic/obj
/UnitTestGenerator/src/WinUI/bin/Debug/net6.0-windows
/UnitTestGenerator/src/WinUI/obj
/UnitTestGenerator/src/WinUI/REF
/UnitTestGenerator/tst/bin/Debug/net6.0
/UnitTestGenerator/tst/obj
/UnitTestGenerator/src/Logic/Reflection/Trash
/New folder/REF
/UnitTestGenerator/src/WinUI/UnitTestGenerator.csproj.user
/UnitTestGenerator/tst/bin/Debug/net8.0
/UnitTestGenerator/src/WinUI/bin/Debug/net8.0-windows
/UnitTestGenerator/src/Logic/bin/Debug/net8.0
